BUILDER_ADDR=:3000
BUILDER_DOMAIN=builder.internal
BUILDER_FILES_PATH=tmp/files
BUILDER_POSTGRES_ENABLED=true
BUILDER_POSTGRES_HOST=localhost
BUILDER_POSTGRES_PORT=5432
BUILDER_POSTGRES_DATABASE=default
BUILDER_POSTGRES_USER=postgres
BUILDER_POSTGRES_PASSWORD=password
BUILDER_DEX_ENABLED=true
BUILDER_DEX_CLIENT_ID=example-app
BUILDER_DEX_CLIENT_SECRET=
BUILDER_DEX_CALLBACK_URL=http://builder.internal:3000/auth/dex
BUILDER_DEX_LOGIN_URL=http://builder.internal:5556/dex/auth
BUILDER_OIDC_ISSUER=http://builder.internal:5556/dex
BUILDER_OIDC_AUDIANCE=
