BUILDER_ADDR=:3000
BUILDER_DOMAIN=builder.internal
BUILDER_FILES_PATH=tmp/files
BUILDER_SQLITE_ENABLED=true
BUILDER_SQLITE_PATH=tmp/builder.db
BUILDER_SQLITE_DATABASE=builder
BUILDER_DEX_ENABLED=
BUILDER_DEX_CLIENT_ID=
BUILDER_DEX_CLIENT_SECRET=
BUILDER_DEX_CALLBACK_URL=
BUILDER_DEX_LOGIN_URL=
